<div class="container">

  <h1 class="my-3" style="color: white;"><strong>My Group Activities</strong></h1>
    <% @actions.each do |action| %>
      <%= action.option.name %>
    <% end %>

   <div class="grid m-3", style="display: grid;grid-template-columns: repeat(3, 1fr);grid-template-rows: repeat(<%= (@cellscount / 3).round %>, 1fr);grid-column-gap: 8px;grid-row-gap: 10px; border: 1px solid grey; border-radius: 2px;">
     <% @users.each do |user| %>
     <div data-id="<%= user.id %>"><%= image_tag "#{user.image}", size: "70x70", class: "rounded-circle m-3" %></div>
     <% end %>
    </div>

</div>
