<div class="container">

  <div class="text-justify">
  <div class="row">
    <div class="col-12">
    <% @options.each do |option| %>
      <p><%= option.name %></p>
      <p><%= option.duration.round %> H</p>
    <% end %>
    </div>
  </div>
  <br>
  <%= link_to '+', root_path, class: 'btn-action'  %>
  <%= link_to 'coucou', root_path, class: 'btn-ghost'  %>

  <br>


</div>

