
<div id="main">
   <div class="all dice-container">
      <div class="all dice">
         <div class="all front">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </div>
         <div class="all back">
            <span></span>
         </div>
         <div class="all right">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </div>
         <div class="all left">
            <span></span>
            <span></span>
         </div>
         <div class="all top">
            <span></span>
            <span></span>
            <span></span>
         </div>
         <div class="all bottom">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<br>
