<div class="container">
    <div class="row profile">
    <div class="col-12">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            USER'S NAME
          </div>
          <div class="profile-usertitle-job">
            ROOMATE'S NAME
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-ghost">BTN A REMPLACER PAR IN LINK_TO EDIT PROFIL (btn btn-option)</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class=" nav-link btn-flat "> My Tasks </a>
            </li>
            <li class="nav-item">
              <a class=" nav-link btn-flat"> My Room-mates </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-12">
      <div class="profile-content">
        INFOS DU USER
        - TEL
        _ EMAIL
       </div>
    </div>
  </div>
</div>
<center>
<strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">KeenThemes</a></strong>
</center>
<br>
<br>
