<div class="banner banner-home">
  <div class="container">
    <h1 id="banner-typed-text"></h1>
    <br>
    <br>
    <% if user_signed_in? %>
      <strong><%= link_to 'ENTER', categories_path, class:'btn-enter' %></strong>
    <% else %>
      <strong><%= link_to 'Sign up', new_user_registration_path, class:'btn-home' %></strong>
    <% end %>
  </div>
</div>
