.back-container {
  // background: #50a3a2;
  // background: -webkit-linear-gradient(top right, #50a3a2 0%, #53e3a6 100%);
  // background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  // position: absolute;

  width: 100vw;
  height: 400px;
  margin-top: -395px;
  z-index: -1;
}

.bg-bubbles {
  width: 100vw;
  // height: calc(100vh - 67px);
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.bg-bubbles li {
  list-style: none;
  display: block;
  width: 40px;

  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;

  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  position:relative;
  left: 30%;

}
.bg-bubbles li:nth-child(2) {
  position:relative;
  left: 10%;

  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
position:relative;
  left: 60%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  position:relative;
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {

}
.bg-bubbles li:nth-child(6) {
  position:relative;
  left: 10%;

  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {

  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {

  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {

  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {

  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(-100);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}

