.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 86vh;
  position: relative
}

.banner h1 {
  margin-top: -60px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  position: absolute;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-home {
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), asset-url("house-sharing.jpg");
  z-index: -1;
}

// .header-container {
//   z-index: 5;
//   background-image: url(colors-3.jpg);
//   background-size: cover;
//   background-position: center;
//   height: calc(100vh - 66px);

// }
