.btn-ghost {
  padding: 8px 14px;
  border: 1px solid #4A4A4A;
  padding: 8px 14px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-size: 12px;
  color: #4A4A4A;
}

.btn-ghost:hover {
  opacity: 1;
  border-color: #E46A2D;
  color: #4A4A4A;
  background-color: white;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.btn-ghost a {
  text-decoration: none;
  color: #4A4A4A;
}

.btn-action {
  padding: 4px 8px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  border-radius: 50%;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-action:hover {
  opacity: 1;
  color: #4A4A4A;
  border-color: #E46A2D;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.btn-action a {
  text-decoration: none;
  color: #4A4A4A;
}

.btn-flat {
  color: #4A4A4A;
  padding: 8px 24px;
  border-radius: 50%;
  background: #F1F3FA;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: white;
  border-color: #E46A2D;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.btn-flat a {
  text-decoration: none;
}

.btn-home {
  position: relative;
  top: 70px;
  padding: 8px 14px;
  color: white;
  border: 1px solid white;
  padding: 8px 14px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 12px
}

.btn-home:hover {
  opacity: 1;
  color: white;
  border-color: #E46A2D;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.btn-ghost-option {
  padding: 8px 14px;
  border: transparent;
  padding: 8px 14px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 12px;
  color: #4A4A4A;
}

.btn-ghost-option:hover {
  opacity: 1;
  border-color: #E46A2D;
  color: #4A4A4A;
  background-color: white;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.btn-ghost-option a {
  text-decoration: none;
  color: #4A4A4A;
}
