.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

#img-card {
  height: 100px;
  object-fit: cover;
}

.btn-name {
  padding-bottom: 3;
  padding-top: 3;
  border-width: 20px;
  border: solid;
  border-color: #3B5F0D;
  border-radius: 30%;
}

.card-profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  border-color: light-green;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  opacity: 0.9;
}

.card-profile:hover {
  opacity: 1;
}

.card:hover {
  opacity: 1;
}
