// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "roulette";
@import "button";
@import "userprofil";
@import "cards";
@import "banner";
@import "dice";
@import "background_anim";
