/********************************
Global Styles
********************************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #233245;
}


/********************************
Main Project
********************************/

main {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: auto;
  /*Change to Auto if there is more content*/
  box-shadow: 0 0 50px #000;
  transition: transform .5s;
  .intro {
    position: sticky;
    top: 0px;
    padding: 33px;
  }

  .intro-solid {
    position: sticky;
    top: 0px;
    padding: 33px;
    background-color: hsla(60, 6%, 35%, .95);

  }
}

.nav-open main {
  transform: scale(.8);

}

// .intro {
//   width: 100%;
//   height: 100vh;
//   background: url('https://peterlloyd.photography/img/hero.jpg') no-repeat center center;
//   background-size: cover;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

h1 {
  font-size: 20px;
  color: #fff;
  margin-top: 0px !important;

}


/********************************
Hamburger menu
********************************/


.nav-trigger {
  position: relative;
  z-index: 4;
  top: 48px;
  left: 170px;
  width: 44px;
  height: 44px;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
}

.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
  position: absolute;
  width: 36px;
  height: 4px;
  background: #f6f8f8;
}

.nav-trigger span {
  top: calc(50% - 2px);
  left: calc(50% - 18px);
  transition: background .3s;
}

.nav-trigger span::before,
.nav-trigger span::after {
  content: '';
  top: 0;
  left: 0;
  transition: background .3s, transform .3s;
}

.nav-trigger span::before {
  transform: translateY(-12px);
}

.nav-trigger span::after {
  transform: translateY(12px);

}

.nav-trigger:hover span,
.nav-trigger:hover span::before,
.nav-trigger:hover span::after {
  background: white;
}

.nav-open .nav-trigger span::before,
.nav-open .nav-trigger span::after {
  background-color: #333
}

.nav-open .nav-trigger span {
  background: transparent;
}

.nav-open .nav-trigger span::before {
  transform: rotate(-45deg);
}

.nav-open .nav-trigger span::after {
  transform: rotate(45deg);
}


/********************************
Overlay
********************************/

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #748479;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav-open .overlay {
  opacity: .6;
  visibility: visible;
}


/********************************
Navigation
********************************/

.nav-container {
  position: fixed;
  z-index: 3;
  width: 50%;
  max-width: 460px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 2em 3.5em;
  background-color: hsla(60, 6%, 35%, .95);
  overflow: auto;
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform .5s cubic-bezier(.83, .14, .33, 1.05);
}

.nav-open .nav-container {
  transform: translateX(0);
}

.nav-container h2 {
  margin: 1.5em 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.nav {
  list-style-type: none;
  padding: 0;
  color: #fff;
}

.nav a {
  display: block;
  line-height: 26px;
  padding: .4em 0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transform: translateZ(0);
  text-align: justify;
}

.nav-open .nav a {
  animation: slide-links .4s .2s backwards;
}

.nav-open .nav li:nth-of-type(2) a {
  animation-delay: .3s;
}

.nav-open .nav li:nth-of-type(3) a {
  animation-delay: .4s;
}

.nav-open .nav li:nth-of-type(4) a {
  animation-delay: .5s;
}

.nav-open .nav li:nth-of-type(5) a {
  animation-delay: .6s;
}

@keyframes slide-links {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
