.navbar-nova {
  justify-content: space-between;
  background: white;
}

.navbar-nova .navbar-collapse {
  flex-grow: 0;
}

.navbar-nova .navbar-brand img {
  width: 40px;
}

#titre-nav {
  color: #E46A2D;
  font-family: 'muli';
  font: bold;
}


.navbar-transparent {
  justify-content: space-between;
  background: transparent;
  border-bottom: solid 1px white;
}
.navbar-transparent .navbar-collapse {
  flex-grow: 0;
}

.navbar-transparent .navbar-brand img {
  width: 40px;
}

#titre2-nav {
  color: #E46A2D;
  font-family: 'muli';
  font: bold;
}
