* { box-sizing: border-box; }

body {
  text-align: center;
}

.scene {
  // border: 1px solid #CCC;
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 140px;
  margin: 120px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 7s;
}

.infinitrot {
  animation: rotation 20s infinite linear;
}

.autre {
  animation: rota 20s infinite linear;
}

@keyframes rota {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(359deg);
  }
}


@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  border: 2px solid white;
  line-height: 116px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  transition: transform 1s, opacity 1s;
  border-radius: 5px;
}

.img-avt {
margin-top: -15px;
}

.nkn-avt {
  font-size: 12px;
  text-align: center;
  margin-top: -70px;
}

.nkn-tsk {
  font-size: 10px;
  text-align: center;
  margin-top: -100px;
}

.nkn-tss {
  // font-size: 30px;
  text-align: center;
  // margin-top: 0px;
  color: black;
  line-height: normal;
}

.carousel__cell:nth-child(9n+1) { background: hsla(  0, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+2) { background: hsla( 40, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+3) { background: hsla( 80, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+4) { background: hsla(120, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+5) { background: hsla(160, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+6) { background: hsla(200, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+7) { background: hsla(240, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+8) { background: hsla(280, 50%, 80%, 1); }
.carousel__cell:nth-child(9n+0) { background: hsla(320, 50%, 80%, 1); }

// .carousel__cell:nth-child(9n+1) { background: #5EC9C6; }
// .carousel__cell:nth-child(9n+2) { background: #5DBE9B; }
// .carousel__cell:nth-child(9n+3) { background: #8FBE7A; }
// .carousel__cell:nth-child(9n+4) { background: #B7BD5D; }
// .carousel__cell:nth-child(9n+5) { background: #D7BC47; }
// .carousel__cell:nth-child(9n+6) { background: #F8BC32; }
// .carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 99%, 1); }
// .carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 99%, 1); }
// .carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 99%, 1); }


.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }



.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
  font-size: 30px !important;
  font-weight: bold !important;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}




