// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// CSS qui peut servir et se retrouve ici
.height-100vh {
  height: calc(100vh - 66px);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20;
}

body {
  background-image: asset-url('Summer_2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.modal-backdrop {
  z-index: 0 !important;
}
.modal {
  top: 105px !important;
}
