<div class="container mt-3S">
  <div class="row">
    <div class="col-md-6">
      <div class="add-category">
        <p class='d-inline justify-content-between ml-2'>Add a category </p>
        <%= link_to "+", new_category_path, class:'btn-action' %>
        <% @categories.each do |category| %>
        <% category.kind == "task" %>
          <div class="card mb-3">
            <% if category.image %>
            <%= image_tag category.image, class:"object-fit: cover", height: 100 %>
            <% end %>
            <div class="card-body">

              <h4 class="card-title"><%= category.title %></h4>
              <p class='d-inline justify-content-between ml-2'>Add a task </p>
              <%= link_to "+", new_category_task_path(category), class:'btn-action' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



